<!DOCTYPE html>
<html>
<head>
	<title>PdfMerger</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
	<header class="navbar">
		<div class="navbar-container">
			<center><h1 id="head-title">Pdf Merger</h1></center>
		</div>
	</header>
	<div class="container">
		<div id="content">
			<center id="download-area">
				<a href="#">merge.pdf</a>
			</center>	
			<section id="upload-container">
				<form action="#" id="myDropzone" enctype=multipart/form-data method=post>
					<div id="inputs-container">
					<div class="input-wrapper">
						<label for="file1">File 1</label>
						<input type="file" name="file[]"/>
					</div>
					<div class="input-wrapper">
						<label for="file2">File 2</label>
						<input type="file" name="file[]" />
					</div>
					<div class="input-wrapper">
						<label for="file3">File 3</label>
						<input type="file" name="file[]"/>
					</div>
					</div>
					<div id="button-container">
						<button id="add-button" type="button">
							Add another
						</button>
						<button id="submit-button"
							type="submit">
							Merge!
						</button>
					</div>
				</form>	
			</section>
			{% with messages = get_flashed_messages() %}
			   {% if messages %}
			         {% for message in messages %}
				          {{ message }}
					        {% endfor %}
						   {% endif %}
						   {% endwith %}
			
		</div>	
		<script src="static/scripts.js"></script>
	</div>
</body>
</html>
