<!DOCTYPE html>
<html>
<head>
	<title>PdfMerger</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>
	<header class="navbar">
		<div class="navbar-container">
			<center><h1 id="head-title">Pdf Merger</h1></center>
		</div>
	</header>
	<div class="container">
		<div id="content">
			<center id="download-area">
        {% if file_was_merged %}
				<a href="/download/" target="_blank">merge.pdf</a>
        {% endif %}
			</center>	
			<section id="upload-container">
				<form action="#" id="myDropzone" enctype=multipart/form-data method=post>
					<div id="inputs-container">
					<div class="input-wrapper">
						<label for="file1">File 1</label>
						<input id="file1" type="file" name="file[]" multiple/>
						<input id="merge-order" type='hidden' name="merge-order" />
					</div>
					</div>
					<div id="button-container">
						<button id="submit-button"
							type="button">
							Merge!
						</button>
					</div>
					<div id="file-sort-container">
						<ul id="file-sort-list">
						</ul>
					</div>
				</form>	
			</section>
			{% with messages = get_flashed_messages() %}
			   {% if messages %}
			         {% for message in messages %}
				          {{ message }}
					        {% endfor %}
						   {% endif %}
						   {% endwith %}
			
		</div>	
		<script src="static/scripts.js"></script>
	</div>
</body>
</html>
